DATABASE_URL="postgresql://user:password@localhost:5432/agent_royale"
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=""
NEXT_PUBLIC_AGENT_NFT_ADDRESS=""
NEXT_PUBLIC_ENTRY_POOL_ADDRESS=""
NEXT_PUBLIC_ENGINE_URL="http://localhost:3001"
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
